@inherits LayoutComponentBase

<div class="page">
    <main>
        @* Top Bar Component *@
        <TopPart />

        @* Extra spacing between TopBar and Cards *@
        <div class="spacing"></div>

        @* Cards Component with Categories *@
        <Categories />


        <article class="content px-4">
            @Body

        </article>
    </main>
</div>

