@inherits LayoutComponentBase

<div class="page bg-yellow-100 min-h-screen">
    <main>
        @* Top Bar Component *@
        <TopPart />

        <article class="content px-4">
            @Body

        </article>
    </main>
</div>
