@inherits LayoutComponentBase

<div class="page">
    <main>
        @* Top Bar Component *@
        <TopPart />

        <article class="content px-4">
            @Body

        </article>
    </main>
</div>
