@inherits LayoutComponentBase

<div class="page">
    <main>
        @* Top Bar Component *@
        <TopPart />
        
        @* Extra spacing between TopBar and Cards *@
        <div class="spacing"></div>

        @* Cards Component with Categories *@
        <Categories />

        <div class="spacing"></div>
        <Featured />

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>



<style>
    /* Page Styling */
    .page {
        background-color: #FFF8E1; /* Cream color */
        height: 100vh; /* Viewport height */
        width: 100%; /* Full width */
    }

    /* Spacing between components */
    .spacing {
        height: 30px; /* Adjust the spacing as needed */
    }

</style>
