@page "/categories"
@inject HttpClient Http
@using System.Net.Http.Json
@using RCL.Data.DTO

<link href="_content/RCL/categories.css" rel="stylesheet" />

<nav class="nav-menu">
    @if (categories == null)
    {
        <p>Loading categories...</p>
    }
    else if (categories.Count == 0)
    {
        <p>No categories found.</p>
    }
    else
    {
        <div class="categories-container">
            @foreach (var category in categories)
            {
                <div class="category-card">
                    <a href="products/@category.CategoryId" class="category-link">
                        <img src="https://via.placeholder.com/250" alt="@category.Name" class="category-image" />
                        <div class="category-name">@category.Name</div>
                        <div class="category-description">@category.Description</div>
                    </a>
                </div>
            }
        </div>
    }
</nav>

@code {
    private List<CategoryDTO> categories;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            categories = await Http.GetFromJsonAsync<List<CategoryDTO>>("api/Categories");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Błąd podczas pobierania kategorii: {ex.Message}");
        }
    }
}
