@* Style import *@
<link href="_content/RCL/top-part.css" rel="stylesheet" />
<div class="top-bar">
    <div class="logo">
        <a href="/">PediTiscos</a>
    </div>
    <nav class="navigation">
        <a href="/products">Products</a>
        <a href="#">About us</a>
        <a href="#">Contact</a>
        <a href="/cart">Cart</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </nav>
</div>

