.nav-menu {
    padding: 20px;
    background-color: #f1f1f1;
    color: #333;
}

.search-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

.search-button {
    padding: 10px 20px;
    background-color: #00AEEF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .search-button:hover {
        background-color: #008CBA;
    }

.available-label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.available-checkbox {
    width: 20px;
    height: 20px;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.product-card {
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .product-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    }

.product-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.product-name {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.product-description {
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px;
}

.product-price {
    font-size: 1.2rem;
    color: #00AEEF;
    margin-bottom: 10px;
    font-weight: bold;
}

.product-stock {
    font-size: 0.9rem;
    color: green;
    margin-bottom: 15px;
}

.quantity-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

    .quantity-container label {
        margin-right: 10px;
    }

    .quantity-container input[type="number"] {
        width: 60px;
        padding: 5px;
    }

.add-to-cart-button {
    background-color: #00AEEF;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

    .add-to-cart-button:hover {
        background-color: #008CBA;
    }

.product-link {
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 768px) {
    .products-container {
        flex-direction: column;
        align-items: center;
    }

    .product-card {
        width: 80%;
    }
}
